@import "src/@fuse/scss/fuse";
table {
    width: 100%;
}

// .mat-form-field {
//     font-size: 14px;
//     width: 100%;
// }

td{
    padding: 5px;
    width: 15%;
}th {
    width: 15%;
    padding: 5px;
}

.pending{
    color: rgb(255, 171, 13) !important;
    // background-color:  rgb(255, 255, 0);
}
.declined{
    color: rgb(255, 0, 0) !important;
    // background-color: rgb(255, 0, 0);
}
.accepted{
    color: rgb(88, 143, 5) !important;
    // background-color: rgb(88, 143, 5);
}

.bidId, .price, .status{
    text-align: center !important;
}